*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 16px; /* sets base font size (easier to scale rem units) */
  scroll-behavior: smooth; /* smooth scrolling for anchor links */
}
* {
  padding: 0;
  margin: 0;
}

/* Styles for body */
body {
  font-family: "Roboto", sans-serif; /* or any chosen font */
  background-color: #fff; /* default background */
  min-height: 100vh; /* ensures full viewport height */
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.header {
  background-color: #1f2937;
  padding: 20px 125px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  transition: all 0.3s ease;
}
.footer {
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: #1f2937;
}

.footer > h4 {
  color: #e5e7eb;
  font-size: 18px;
  font-weight: 400;
}

.logo a {
  font-size: 24px;
  font-weight: 600;
  color: #f9faf8;
  text-decoration: none;
}
nav {
  display: flex;
}

nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  gap: 20px;
  align-items: center;
}

li > a {
  text-decoration: none;
  color: #ced1d6;
  font-size: 18px;
  margin-left: auto;
}

.container {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.hero {
  font-size: 18px;
  color: #f9faf8;
  display: flex;
  gap: 100px;
  background-color: #1f2937;
  width: 100%;
  padding: 100px 140px;
}

.hero-img {
  width: 100%;
  height: auto;
  max-width: 400px;
  border-radius: 10px;
  object-fit: cover;
}

.hero h1 {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
  margin-bottom: 10px;
  text-align: left;
}
.hero p {
  line-height: 1.25em;
  color: #ced1d6;
  margin-bottom: 20px;
}
button {
  background-color: #3882f6;
  color: #f9faf8;
  border-radius: 8px;
  padding: 10px 28px;
  border: none;
  width: 150px;
  font-size: 18px;
  font-weight: 600;
}

.main {
  font-size: 18px;
  background-color: #f9faf8;
  gap: 30px;
  width: 100%;
  padding: 100px 140px;
  color: #1f2937;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.main2 {
  font-size: 18px;
  background-color: #1f2937;
  gap: 30px;
  width: 100%;
  padding: 100px 140px;
  color: #f9faf8;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.main2 h2 {
  font-size: 36px;
  width: 100%;
  text-align: center;
  color: #f9faf8;
}

.main2 a {
  text-decoration: none;
  color: #f9faf8;
}

.main2-img {
  border: #f9faf8 solid 3px;
  width: 180px;
  height: auto;
  max-width: 300px;
  border-radius: 10px;
}

.text-img {
  display: flex;
  flex-direction: column; /* Stack image and text vertically */
  align-items: center; /* Horizontally center both image and text */
  text-align: center; /* Center the text inside the <p> */
  gap: 10px;
  max-width: 200px;
  flex: 1;
}

.main h2 {
  font-size: 36px;
  width: 100%;
  text-align: center;
}

.main a {
  text-decoration: none;
  color: #1f2937;
}

.main-img {
  border: #3882f6 solid 3px;
  width: 180px;
  height: auto;
  max-width: 300px;
  border-radius: 10px;
}

.quote {
  background-color: #e5e7eb;
  gap: 30px;
  width: 100%;
  padding: 100px 140px;
  color: #1f2937;
  display: flex;
  justify-content: center;
}

.quote-block {
  font-size: 36px;
  font-style: italic;
  line-height: 1.25;
  width: 80%;
}

.quote-author {
  font-weight: 900;
  display: block;
  text-align: right;
  font-style: normal;
  font-size: 24px;
}
.footer {
  padding: 30px 0;
}
/*CSS Styles for devices - phones smaller than 600px*/
@media (max-width: 768px) {
  /* adjustments go here */

  .hero {
    flex-direction: column;
    text-align: center;
  }

  .hero-img {
    max-width: 65%;
  }

  .header {
    padding: 16px 20px;
    flex-direction: column;
  }

  nav ul {
    flex-direction: column;
    gap: 10px;
  }

  .content {
    padding: 50px 20px;
  }
}
